@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext");

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

body {
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);    
}

.message {
    margin-left: 0px;
    margin-right: 12px;
    align-items: flex-end;
    max-width: 350px;
    padding: 10px 10px;
    margin: 10px;
    &-content {
        color: #000;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    &-date {
        text-align: right;
    }
    &-avatar {
        float: left;
        margin-right: 20px;
    }
    &-name {
        font-family: Manrope;
        color: #273346;
    }
}

.main {
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    left: 10%;
    flex-direction: column;
    max-height: 535px;
}

.main::-webkit-scrollbar {
    width: 10px;
}

.main::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.main::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.isMy {
    margin-left: auto;
    margin-right: 130px;
}

.profile-link {
    z-index: 2;
    position: absolute;
    right: 80px;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
    background: #273346;
}

.login-text, .email-text {
    font-family: Manrope;
    color: #273346;
}

.file-btn {
    margin: 20px;
    background: #273346;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    font-size: 15px;
}

.paper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    bottom: 40px;
    width: 80%;
    left: 10%;
    right: 10%;
    padding: 16px;
}

